doctype html
html
	head
		link(rel="stylesheet" href='/styles/main.min.css')
	script(src='/js/index.js')
	body
		.container
			.cube
				.side.front front
				.side.back back
				.side.right right
				.side.left left
				.side.top top
				.side.bottom bottom
